---
import Layout from "../layouts/Layout.astro";
import Card from "@components/Card.astro";

---

<Layout title="Contact" currentPage="contact">
  <div class="ContactWrapper">
    <h2>Email</h2>
    <div class="ContactCardWrap">
      <Card href="mailto:me@cdmacdonald.com" title="Proton Mail" background="proton" desc="End-to-end encrypted email" external mail />
    </div>
    <h2>Social Media</h2>
    <div class="ContactCardWrap">
      <Card background="linkedin" title="LinkedIn" desc={`"Professional" social media`} href="https://www.linkedin.com/in/macdonaldcameron" external />
      <Card background="bluesky" title="Bluesky" desc="Pre-2015 Twitter" href="https://bsky.app/profile/cdmacdonald.com" external />
      <Card background="mastodon" title="Mastodon" desc="Twitter but for nerds" href="https://mastodon.social/@cadomac" external />
    </div>
    <h2>Development</h2>
    <div class="ContactCardWrap">
      <Card title="GitHub" desc="Open source software" background="github" href="https://github.com/cadomac" external />
      <Card title="GitLab" desc="Open source software but it's a fox" background="gitlab" href="https://gitlab.com/cadoma" external />
      <Card background="codepen" title="CodePen" desc="Front end playground" href="https://codepen.io/cadomac" external />
    </div>
    <h2>Design + Art</h2>
    <div class="ContactCardWrap">
      <Card background="behance" title="Behance" desc="Portfolio via Adobe" href="https://www.behance.net/cadoma" external />
      <Card title="Cara" desc="Artist-focused social media and portfolio" background="parchment" href="https://cara.app/cadomac" external />
    </div>
  </div>
</Layout>

<style lang="scss">
  @use "../../styles/breakpoints" as *;
  .ContactWrapper {
    width: 100%;
  }

  .ContactCardWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
</style>
