---
import Layout from '../layouts/Layout.astro';
import * as projectsJSON from '../data/projects.json';
import Card from '@components/Card.astro';

const projects = projectsJSON.projects
const volunteer = projectsJSON.volunteer
---
<Layout title="Work" currentPage="work">
  <div class="WorkWrapper">
    <h2>Projects</h2>
    <div class="ProjectWrapper">
      {
        projects.map((project) => {
          return (
            <Card 
            href={project.url} 
            title={project.name} 
            desc={project.description} 
            background={project.background}
            external
            />
          )
        })
      }
    </div>
    <h2>Volunteership</h2>
    <div class="ProjectWrapper">
      {
        volunteer.map((project) => {
          return (
            <Card 
            href={project.url} 
            title={project.name} 
            desc={project.description} 
            background={project.background}
            external
            />
          )
        })
      }
    </div>
  </div>
</Layout>
<style lang="scss">
  @use "../../styles/_color.scss" as *;
  @use "../../styles/_breakpoints.scss" as *;
  @use "sass:color";

  .WorkWrapper {
    width: 100%;
  }
  .ProjectWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }
</style>
