---
export interface Props {
	title: string;
    frontmatter: BlogFrontmatter;
}

export interface BlogFrontmatter {
    title: string;
    description: string;
    tags: string[];
}

const { frontmatter } = Astro.props;
import Layout from '@layouts/Layout.astro';
---

<Layout title={frontmatter.title} currentPage="blog">
    <slot />
</Layout>
<style>
    .blog-wrap {
        margin: 0 auto;
        width: 85%;
        max-width: 1280px;
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%),
        0 0 10px 0 rgb(0 0 0 / 10%),
        0 0 15px 0 rgb(0 0 0 / 10%);
        border-radius: 10px;
        padding: 2rem;
    }

    .blog-wrap > h1 {
        margin-top: 0;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(0 0 0 / 10%);
    }
</style>