@use "sass:color";
$blue-midnight: #1c172e;
$blue-dark: #182638;
$rose-pink: #ff5a7b;
$mid-pink: #541522;
$dark-pink: #36151b;
$white: #fff;
$off-white: #f5f9fa;
$blue-black: #171621;
$blue-oxford: #14213D;
$blue-light: #AFCBFF;
$black: #000000;
$almost-black: #212121;
$orange: #fa8823;
$orange-web: #FCA311;
$pink-orange: color.mix($orange, $rose-pink, 30%);
$light-green: #9CFC97;
$dark-red: #901C14;
$parchment: #F5E9CC;
